/* Design tokens for the Services page (colors, spacing, type scale) */

:root {
  /* Common Style Variables */

  /* Color */
  --color-black: #000;
  --color-darkgray: #a3a3a3;
  --color-darkslategray-100: #424242;
  --color-darkslategray-200: #404040;
  --color-darkslategray-300: #374630;
  --color-darkslategray-400: rgba(51, 51, 51, 0.04);
  --color-darkslategray-500: rgba(51, 51, 51, 0.08);
  --color-dimgray: #6f6f6f;
  --color-forestgreen: rgba(0, 168, 45, 0.2);
  --color-gainsboro-100: #e6e6e6;
  --color-gold-100: #ffc221;
  --color-gold-200: rgba(255, 193, 7, 0.2);
  --color-gold-300: rgba(255, 194, 33, 0.36);
  --color-gold-400: rgba(255, 194, 33, 0.2);
  --color-goldenrod-100: #fab330;
  --color-goldenrod-200: #eeb51f;
  --color-goldenrod-300: #e6a632;
  --color-gray-100: #fbfbfa;
  --color-gray-200: #968982;
  --color-gray-300: #1f1b09;
  --color-gray-400: #211b04;
  --color-gray-500: #152107;
  --color-gray-600: #1b1c04;
  --color-gray-700: #102006;
  --color-gray-800: #111;
  --color-gray-900: #161003;
  --color-gray-1000: #070425;
  --color-gray-1100: rgba(255, 255, 255, 0.72);
  --color-gray-1200: rgba(255, 255, 255, 0.09);
  --color-gray-1300: rgba(255, 255, 255, 0.08);
  --color-gray-1400: rgba(255, 255, 255, 0.64);
  --color-gray-1500: rgba(0, 0, 0, 0.1);
  --color-gray-1600: rgba(0, 0, 0, 0.06);
  --color-gray-1700: rgba(7, 4, 37, 0.56);
  --color-gray-1800: rgba(0, 0, 0, 0.02);
  --color-gray-1900: rgba(7, 4, 37, 0.8);
  --color-gray-2000: rgba(7, 4, 37, 0.88);
  --color-gray-2100: rgba(7, 4, 37, 0.04);
  --color-gray-2200: rgba(7, 4, 37, 0.14);
  --color-gray-2300: rgba(15, 15, 15, 0.72);
  --color-gray-2400: rgba(0, 0, 0, 0.04);
  --color-gray-2500: rgba(255, 255, 255, 0.3);
  --color-gray-2600: rgba(0, 0, 0, 0.08);
  --color-gray-2700: rgba(17, 17, 17, 0.5);
  --color-gray-2800: rgba(0, 0, 0, 0.67);
  --color-gray-2900: rgba(255, 255, 255, 0.1);
  --color-lightgoldenrodyellow: #cde6b7;
  --color-lightgray-100: #d6d6d6;
  --color-lightgray-200: rgba(214, 214, 214, 0.17);
  --color-lightgreen: rgba(113, 191, 91, 0.2);
  --color-linen: #f6f2ea;
  --color-mediumslateblue: #6c5fef;
  --color-orangered: rgba(255, 74, 0, 0.2);
  --color-silver: #c6c6c6;
  --color-whitesmoke-100: #f9f8f8;
  --color-whitesmoke-200: #f8f8f8;
  --color-whitesmoke-300: #f7f7f7;
  --test-roan-six-87vercelapp-Cod-Gray: #454545;
  --test-roan-six-87vercelapp-Desert-Storm: #f7f7f5;
  --test-roan-six-87vercelapp-Fire-Bush: #e4a024;
  --test-roan-six-87vercelapp-Mercury: #e8e8e8;
  --test-roan-six-87vercelapp-White-40: rgba(255, 255, 255, 0.4);
  --wwwungrammarycom-Dove-Gray: #666;
  --wwwungrammarycom-White: #fff;

  /* Gap */
  --gap-0: 0px;
  --gap-2: 2px;
  --gap-3: 3px;
  --gap-8: 8px;
  --gap-10: 10px;
  --gap-11: 11px;
  --gap-12: 12px;
  --gap-14: 14px;
  --gap-15: 15px;
  --gap-16: 16px;
  --gap-18: 18px;
  --gap-19: 19px;
  --gap-20: 20px;
  --gap-22: 22px;
  --gap-24: 24px;
  --gap-30: 30px;
  --gap-32: 32px;
  --gap-36: 36px;
  --gap-40: 40px;
  --gap-43: 43px;
  --gap-52: 52px;
  --gap-60: 60px;
  --gap-72: 72px;
  --gap-80: 80px;
  --gap-1_81: 1.81px;
  --gap-12_22: 12.22px;
  --gap-12_65: 12.65px;
  --gap-14_71: 14.71px;
  --gap-19_1: 19.1px;
  --gap-2_8: 2.8px;
  --gap-2_9: 2.9px;
  --gap-21_68: 21.68px;
  --gap-219_9: 219.9px;
  --gap-24_44: 24.44px;
  --gap-37_61: 37.61px;
  --gap-5_95: 5.95px;
  --gap-6_11: 6.11px;
  --gap-7_9: 7.9px;
  --gap-9_17: 9.17px;
  --gap-9_19: 9.19px;

  /* Padding */
  --padding-0: 0px;
  --padding-1: 1px;
  --padding-2: 2px;
  --padding-3: 3px;
  --padding-4: 4px;
  --padding-5: 5px;
  --padding-6: 6px;
  --padding-7: 7px;
  --padding-8: 8px;
  --padding-9: 9px;
  --padding-10: 10px;
  --padding-11: 11px;
  --padding-12: 12px;
  --padding-16: 16px;
  --padding-17: 17px;
  --padding-18: 18px;
  --padding-19: 19px;
  --padding-20: 20px;
  --padding-21: 21px;
  --padding-22: 22px;
  --padding-23: 23px;
  --padding-24: 24px;
  --padding-26: 26px;
  --padding-28: 28px;
  --padding-29: 29px;
  --padding-30: 30px;
  --padding-31: 31px;
  --padding-32: 32px;
  --padding-36: 36px;
  --padding-39: 39px;
  --padding-40: 40px;
  --padding-42: 42px;
  --padding-56: 56px;
  --padding-60: 60px;
  --padding-61: 61px;
  --padding-64: 64px;
  --padding-80: 80px;
  --padding-100: 100px;
  --padding-122: 122px;
  --padding-0_53: 0.53px;
  --padding-0_58: 0.58px;
  --padding-1_2: 1.2px;
  --padding-11_94: 11.94px;
  --padding-12_22: 12.22px;
  --padding-13_75: 13.75px;
  --padding-16_8: 16.8px;
  --padding-165_49: 165.49px;
  --padding-2_98: 2.98px;
  --padding-24_4: 24.4px;
  --padding-3_39: 3.39px;
  --padding-30_2: 30.2px;
  --padding-37_61: 37.61px;
  --padding-42_46: 42.46px;
  --padding-43_36: 43.36px;
  --padding-7_23: 7.23px;
  --padding-9_2: 9.2px;

  /* BorderRadius */
  --br-0: 0px;
  --br-4: 4px;
  --br-10: 10px;
  --br-12: 12px;
  --br-18: 18px;
  --br-20: 20px;
  --br-24: 24px;
  --br-50: 50%;
  --br-100: 100px;
  --br-108: 108px;
  --br-10_7: 10.7px;
  --br-19_9: 19.9px;
  --br-2_5: 2.5px;
  --br-23_2: 23.2px;
  --br-4_6: 4.6px;
  --br-6_1: 6.1px;
  --br-65_6: 65.6px;
  --br-7_4: 7.4px;
  --br-7_6: 7.6px;
  --br-73_1: 73.1px;
  --br-74_4: 74.4px;
  --br-76_4: 76.4px;
  --br-9_2: 9.2px;

  /* Font */
  --font-dm-sans: DM Sans, Arial, sans-serif;
  --font-inherit: inherit, Arial, sans-serif;
  --font-inter: Inter, Arial, sans-serif;
  --font-manrope: Manrope, Arial, sans-serif;
  --font-satoshi: Satoshi, Arial, sans-serif;
  --font-uxum-grotesque: Uxum Grotesque, Arial, sans-serif;

  /* FontSize */
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-38: 38px;
  --fs-40: 40px;
  --fs-51: 51px;
  --fs-64: 64px;
  --fs-10_3: 10.3px;
  --fs-11_8: 11.8px;
  --fs-12_2: 12.2px;
  --fs-12_6: 12.6px;
  --fs-14_7: 14.7px;
  --fs-22_6: 22.6px;
  --fs-22_9: 22.9px;
  --fs-26_3: 26.3px;
  --fs-48_9: 48.9px;

  /* Borders */
  --border-1: 1px solid var(--test-roan-six-87vercelapp-Mercury);
  --border-2: 2.7px solid var(--wwwungrammarycom-White);
  --border-3: 1.9px solid var(--wwwungrammarycom-White);
  --border-4: 1.5px solid var(--wwwungrammarycom-White);
  --border-5: 0.8px solid var(--color-gray-2400);
  --border-6: 0.8px solid var(--color-gray-2200);

  /* Shadows */
  --shadow-drop:
    0px 0px 10px rgba(173, 173, 173, 0), 0px 0px 9px rgba(173, 173, 173, 0.01),
    0px 0px 8px rgba(173, 173, 173, 0.05),
    0px 0px 6px rgba(173, 173, 173, 0.09), 0px 0px 3px rgba(173, 173, 173, 0.1);
  --shadow-drop-1: 0px -49px 220.2px rgba(255, 194, 33, 0.41);
  --shadow-drop-2: 0px 4px 22.8px rgba(0, 0, 0, 0.09);
  --shadow-drop-3: 0px 13.4px 40.1px var(--color-gray-1600);
  --shadow-drop-4: 0px 15.7px 47px var(--color-gray-1600);
  --shadow-drop-5: 0px 0.8px 0.8px var(--color-gray-2600);
  --shadow-drop-6: 0px 1.5px 0.8px rgba(7, 4, 37, 0.16);
  --shadow-drop-7: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-drop-8: 0px 0px 48.8px rgba(15, 119, 255, 0.04);
  --shadow-drop-9: 0px 28px 32.7px var(--color-gray-2400);
  --shadow-drop-10: 0px 0px 76px var(--color-gray-1600);
  --shadow-drop-11: 0px 0px 34.4px rgba(15, 119, 255, 0.04);
  --shadow-drop-12: 0px 0px 11.4px rgba(0, 0, 0, 0.07);
  --shadow-inner:
    0px 0.8px 0.8px -3.06px rgba(0, 0, 0, 0.25) inset,
    0px 0.8px 0.8px rgba(0, 0, 0, 0.16);

  /* WidthHeights */
  --height-1: 1px;
  --height-5: 5px;
  --height-12: 12px;
  --height-14: 14px;
  --height-16: 16px;
  --height-19: 19px;
  --height-20: 20px;
  --height-24: 24px;
  --height-27: 27px;
  --height-28: 28px;
  --height-35: 35px;
  --height-36: 36px;
  --height-58: 58px;
  --height-84: 84px;
  --height-225: 225px;
  --height-10_7: 10.7px;
  --height-12_2: 12.2px;
  --height-15_6: 15.6px;
  --height-16_8: 16.8px;
  --height-192_1: 192.1px;
  --height-194_8: 194.8px;
  --height-2_7: 2.7px;
  --height-24_4: 24.4px;
  --height-246_7: 246.7px;
  --height-28_9: 28.9px;
  --height-342_2: 342.2px;
  --height-36_7: 36.7px;
  --height-36_8: 36.8px;
  --height-39_7: 39.7px;
  --height-576_4: 576.4px;
  --height-71_2: 71.2px;
  --height-79_4: 79.4px;
  --height-9_2: 9.2px;
  --max-w-239: 239px;
  --min-w-234: 234px;
  --min-w-386: 386px;
  --width-5: 5px;
  --width-14: 14px;
  --width-16: 16px;
  --width-17: 17px;
  --width-19: 19px;
  --width-24: 24px;
  --width-28: 28px;
  --width-32: 32px;
  --width-36: 36px;
  --width-139: 139px;
  --width-730: 730px;
  --width-1196: 1196px;
  --width-1440: 1440px;
  --width-1121_4: 1121.4px;
  --width-12_2: 12.2px;
  --width-14_5: 14.5px;
  --width-15_6: 15.6px;
  --width-16_8: 16.8px;
  --width-2_7: 2.7px;
  --width-208_6: 208.6px;
  --width-23_8: 23.8px;
  --width-24_4: 24.4px;
  --width-28_9: 28.9px;
  --width-304_8: 304.8px;
  --width-308_2: 308.2px;
  --width-384_2: 384.2px;
  --width-39_7: 39.7px;
  --width-430_1: 430.1px;
  --width-512_2: 512.2px;
  --width-576_4: 576.4px;
  --width-9_2: 9.2px;

  /* LineHeights */
  --lh-14: 14px;
  --lh-22: 22px;
  --lh-24: 24px;
  --lh-26: 26px;
  --lh-28: 28px;
  --lh-35: 35px;
  --lh-40: 40px;
  --lh-44: 44px;
  --lh-46: 46px;
  --lh-55: 55px;
  --lh-61: 61px;
  --lh-19_9: 19.9px;
  --lh-21_4: 21.4px;
  --lh-22_4: 22.4px;
  --lh-23_1: 23.1px;
  --lh-23_4: 23.4px;
  --lh-24_8: 24.8px;
  --lh-29_8: 29.8px;
  --lh-30_6: 30.6px;
  --lh-67_2: 67.2px;

  /* LetterSpacings */
  --ls--0_01: -0.01;
  --ls--0_06: -0.06;
  --ls--0_36: -0.36px;
  --ls--0_45: -0.45px;
  --ls--1_2: -1.2px;
  --ls--1_56: -1.56px;
  --ls--2_56: -2.56px;
  --ls-0_14: 0.14px;
  --ls-0_88: 0.88px;
  --ls-1_03: 1.03px;
  --ls-1_04: 1.04px;
  --ls-1_1: 1.1px;
  --ls-1_2: 1.2px;
  --ls-1_32: 1.32px;

  /* Opacities */
  --opacity-0_4: 0.4;

  --left-0: 0px;
  --top-0: 0px;
  --top-3_8: 3.8px;
}
